#select_medias_dialog .medias {
	margin: 0;
	padding: 0;
	text-align: center;
}

#select_medias_dialog .medias .media {
	border: solid 3px #fff;
	display: inline-block;
	margin: 0 10px 20px 10px;
	position: relative;
	vertical-align: top;
	text-align: center;
}

#select_medias_dialog .medias .media .media-image {
	width: 144px;
	height: 144px;
}

#select_medias_dialog .medias .media .media-title {
	overflow: hidden;
}

#select_medias_dialog .medias .media .media-actions {
	display: none;
	position: absolute;
	top: -6px;
	right: -6px;
}

#select_medias_dialog .medias .media:hover {
	border: solid 3px blue;
	cursor: pointer;
}

#select_medias_dialog .medias .media:hover .media-actions {
	display: block;
}

#select_medias_dialog .medias .media.selected {
	border: solid 3px red;
	cursor: pointer;
}

#select_medias_dialog .tab-content {
	position: relative;
	height: 100%;
}

#select_medias_dialog .tab-pane {
	padding-top: 20px;
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	height: 100%;
}

#select_medias_dialog .card {
	margin-bottom: 20px;
}

#media_properties .media-properties td {
	font-weight: normal;
	padding: 5px;
	text-align: left;
	text-decoration: italic;
	vertical-align: top;
}

#media_properties .media-properties td:first-child {
	font-weight: bold;
	text-align: right;
}

#formSelectMediasFormat .radio-inline {
	display: block;
	margin-bottom: 5px;
}

#formSelectMediasFormat .radio-inline + .radio-inline {
	margin-left: 0;
}

#formSelectMediasFormat .radio-inline input[type=radio] {
	margin-top: 0px;
}
