#select_media_dialog .medias {
	margin: 0;
	padding: 0;
	text-align: center;
}

#select_media_dialog .medias .media {
	border: solid 3px #fff;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	width: 100px;
	height: 100px;
	position: relative;
}

#select_media_dialog .medias .media:hover {
	border: solid 3px blue;
	cursor: pointer;
}

#select_media_dialog .medias .media.selected {
	border: solid 3px red;
	cursor: pointer;
}

#select_media_dialog .tab-pane {
	padding-top: 20px;
}